[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openpyxl = "*"
requests = "*"
"beautifulsoup4" = "*"
"httplib2" = "*"
google-api-python-client = "*"
"oauth2client" = "*"
toml = "*"

[dev-packages]
